In [35]:
import pandas as pd
from IPython.display import display
print('Hello world')

# Receita por pedido e vendedor
#encontrar o tipo favorito de metodo de pagamento
# Ticket m√©dio por categoria
# Retorno por estado ou cidade

Hello world

In [50]:
order_payments = pd.read_csv("../../data/raw/olist_order_payments_dataset.csv")
orders = pd.read_csv("../../data/raw/olist_orders_dataset.csv")

In [37]:
display(orders.head(1))
display(order_payments.head(1))

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33

In [38]:
#verificando se tem algum order_id duplicado
order_payments['order_id'].duplicated().sum()
display(order_payments['order_id'].duplicated().sum())

np.int64(4446)

In [39]:
order_payments['order_id'].value_counts()[lambda x: x > 1].count()

np.int64(2961)

In [40]:
display(order_payments.isnull().sum())

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [41]:
display(order_payments.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

None

In [42]:
display(order_payments.shape)

(103886, 5)

In [43]:
#removendo pedidos sem valor de pagamento
order_payments = order_payments[order_payments['payment_value'] > 0]

In [44]:
#devido aos pedidos com parcelas, iremos multiplicar o valor de [payment_value] com payment_installments, cujo o id sao iguais
revenue_per_order = order_payments.groupby('order_id').apply(
    lambda x: (x['payment_value'] * x['payment_sequential']).sum()
)

display(revenue_per_order.sort_values(ascending=False))

C:\Users\Gioher\AppData\Local\Temp\ipykernel_8040\1803029386.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  revenue_per_order = order_payments.groupby('order_id').apply(

order_id
03caa2c082116e1d31e67e9ae3700499    13664.08
fa65dad1b0e818e3ccc5cb0e39231352     8804.34
736e1922ae60d0d6a89247b851902527     7274.88
0812eb902a67711a1cb742b3cdaa65ae     6929.31
fefacc66af859508bf1a7934eab1e97f     6922.21
                                      ...
27eebc49f55d8e9b8192f11c2570d6f1       11.63
8bf12a5b441bd86a1edbccb6137c9b0b       11.63
38bcb524e1c38c2c1b60600a80fc8999       11.62
37193e64eb9a46b7f3197762f242b20a       10.89
e8bbc1d69fee39eee4c72cb5c969e39d       10.07
Length: 99437, dtype: float64

In [ ]:
#verificando se tem metodos de pagamento nao definidos
display(order_payments[order_payments['payment_type'] == 'not_defined'])

Empty DataFrame
Columns: [order_id, payment_sequential, payment_type, payment_installments, payment_value]
Index: []

In [ ]:
#exportando dataframe
order_payments.to_csv('order_payments.csv', sep=',')
revenue_per_order.to_csv('revenue_per_order.csv', sep=',')