In [93]:
import pandas as pd
from IPython.display import display

order_items = pd.read_csv("../../data/raw/olist_order_items_dataset.csv")
sellers = pd.read_csv('../../data/raw/olist_sellers_dataset.csv', sep=',')
order_filtred = pd.read_csv('../../data/filtred/orders_filtred.csv')

In [94]:
# sellers tem o mesmo seller_id que order_items que contem também o order_id e o price
#Analisar estatísticas básicas (média, mediana, mínimo, máximo).
# Indicadores: Volume de vendas, faturamento, avaliações, etc., vinculados ao seller_id.

In [95]:
display(order_items.head(5))

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [96]:
display(order_items.isnull().sum())

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [97]:
display(order_items.shape)

(112650, 7)

In [98]:
display(order_items.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

None

In [99]:
order_items['shipping_limit_date'] = pd.to_datetime(order_items['shipping_limit_date'])

In [100]:
display(order_items.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  datetime64[ns]
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 6.0+ MB

None

In [110]:
order_items.to_csv('order_items_filtred.csv', sep=',', index=False)

In [101]:
best_sellers = order_items.groupby('seller_id')['price'].sum().sort_values(ascending=False)
display(best_sellers)

seller_id
4869f7a5dfa277a7dca6462dcf3b52b2    229472.63
53243585a1d6dc2643021fd1853d8905    222776.05
4a3ca9315b744ce9f8e9374361493884    200472.92
fa1c13f2614d7b5c4749cbc52fecda94    194042.03
7c67e1448b00f6e969d365cea6b010ab    187923.89
                                      ...
34aefe746cd81b7f3b23253ea28bef39         8.00
702835e4b785b67a084280efca355756         7.60
1fa2d3def6adfa70e58c276bb64fe5bb         6.90
77128dec4bec4878c37ab7d6169d6f26         6.50
cf6f6bc4df3999b9c6440f124fb2f687         3.50
Name: price, Length: 3095, dtype: float64

In [102]:
# limpeza do sellers
display(sellers.head(5))

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [103]:
display(sellers.isnull().sum())

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [109]:
sellers.to_csv('sellers_filtred.csv', sep=',', index=False)

In [104]:
display(sellers['seller_id'].duplicated().sum())
print(type(best_sellers))

np.int64(0)

<class 'pandas.core.series.Series'>

In [105]:

best_sellers = best_sellers.to_frame(name='sales')


best_sellers = best_sellers.reset_index()


best_sellers = best_sellers.merge(
    sellers[['seller_id', 'seller_state']],
    on='seller_id',
    how='left'
)

In [106]:
display(best_sellers.head(2))

                          seller_id      sales seller_state
0  4869f7a5dfa277a7dca6462dcf3b52b2  229472.63           SP
1  53243585a1d6dc2643021fd1853d8905  222776.05           BA

In [111]:
best_sellers.to_csv('sellers_revenue.csv', sep=',', index=False)