In [2]:
import pandas as pd
from IPython.display import display
orders = pd.read_csv('../../data/filtred/orders_filtred.csv')

In [3]:
display(orders.head(3))

,Unnamed: 0,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04

In [5]:
display(orders.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99281 entries, 0 to 99280
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     99281 non-null  int64
 1   order_id                       99281 non-null  object
 2   customer_id                    99281 non-null  object
 3   order_status                   99281 non-null  object
 4   order_purchase_timestamp       99281 non-null  object
 5   order_approved_at              99281 non-null  object
 6   order_delivered_carrier_date   97644 non-null  object
 7   order_delivered_customer_date  96462 non-null  object
 8   order_estimated_delivery_date  99281 non-null  object
dtypes: int64(1), object(8)
memory usage: 6.8+ MB

None

In [6]:
#criando uma nova coluna chamada mes de aprovac√£o
orders['order_approved_at'] = pd.to_datetime(orders['order_approved_at'])
orders['mouth_approved'] = orders['order_approved_at'].dt.strftime('%B')
display(orders.head(2))

,Unnamed: 0,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,mouth_approved
0,0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,October
1,1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,July

In [7]:
orders_by_season = orders.groupby('mouth_approved')['order_id'].count().sort_values(ascending=False)
display(orders_by_season)

mouth_approved
August       10968
May          10759
July         10150
March         9977
June          9416
April         9152
February      8471
January       7947
November      7395
December      5833
October       4910
September     4303
Name: order_id, dtype: int64

In [8]:
orders_by_season.to_csv('orders_by_season.csv', sep=',')