In [57]:
import pandas as pd
from IPython.display import display

# Import csv
customers = pd.read_csv("../data/raw/olist_customers_dataset.csv")
geolocation = pd.read_csv("../data/raw/olist_geolocation_dataset.csv")
order_items = pd.read_csv("../data/raw/olist_order_items_dataset.csv")
order_payments = pd.read_csv("../data/raw/olist_order_payments_dataset.csv")
order_reviews = pd.read_csv("../data/raw/olist_order_reviews_dataset.csv")
orders = pd.read_csv("../data/raw/olist_orders_dataset.csv")
products = pd.read_csv("../data/raw/olist_products_dataset.csv")
sellers = pd.read_csv("../data/raw/olist_sellers_dataset.csv")
product_category_translation = pd.read_csv("../data/raw/product_category_name_translation.csv")

In [58]:
display(orders.head(3))

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00

In [59]:
display(orders.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

None

In [60]:
print('Alterando tipos de coluna para data')
orders['order_purchase_timestamp'] = pd.to_datetime(orders['order_purchase_timestamp'])
orders['order_approved_at'] = pd.to_datetime(orders['order_approved_at'])
orders['order_delivered_carrier_date'] = pd.to_datetime(orders['order_delivered_carrier_date'])
orders['order_delivered_customer_date'] = pd.to_datetime(orders['order_delivered_customer_date'])
orders['order_estimated_delivery_date'] = pd.to_datetime(orders['order_estimated_delivery_date'])
display(orders.info())

Alterando tipos de coluna para data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](5), object(3)
memory usage: 6.1+ MB

None

In [61]:
#Identificando quantos valores nulos tem em cada coluna
display(orders.isnull().sum())
#primeiro vamos limpar a tabela orders removendo valores nulos, duplicados

print('Com base nos dados obtemos que 160 produtos ainda não foram aprovados, então iremos excluir esses produtos da análise exploratória')

orders_filtred = orders.dropna(subset=['order_approved_at'])
display(orders_filtred.isnull().sum())

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

Com base nos dados obtemos que 160 produtos ainda não foram aprovados, então iremos excluir esses produtos da análise exploratória

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                   0
order_delivered_carrier_date     1637
order_delivered_customer_date    2819
order_estimated_delivery_date       0
dtype: int64

## 📦 Análise de Performance Logística

## 🚚 Tempo médio entre aprovação e entrega

In [62]:
# Análise de vendas:
#Tempo médio entre a compra e a entrega (order_purchase_timestamp → order_delivered_customer_date)

average_time = (orders_filtred['order_delivered_customer_date'] - orders_filtred['order_approved_at']).mean().days
print(f'O tempo médio de entrega após a aprovação da compra é de {average_time} dias')

O tempo médio de entrega após a aprovação da compra é de 12 dias

In [63]:
display(orders_filtred.head(1))

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18

In [64]:
#Porcentagem de entregas atrasadas por categoria de produto, estado e vendedor

total_delays = (orders_filtred['order_delivered_customer_date'] > orders_filtred['order_estimated_delivery_date']).sum()

print(f'O total de pedidos é: {len(orders_filtred)}')
print(f'Total de pedidos entregues com atraso: {total_delays}')

#porcentagem de atrasados sobre total de pedidos:
percent = round((total_delays / len(orders_filtred)) * 100, 2)
print(f'Porcentagem de atrasados sobre total de pedidos: {percent}%')


#Porcentagem de entregas atrasadas por categoria de produto

#tabela products

O total de pedidos é: 99281
Total de pedidos entregues com atraso: 7827
Porcentagem de atrasados sobre total de pedidos: 7.88%

In [65]:
display(products.head(1))
display(orders_filtred.head(1))
display(order_items.head(1))

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29

In [ ]:
# Unindo order_items com products para ter a categoria de produto
merged_items = pd.merge(order_items, products, on='product_id', how='inner')

#Criando uma copy de orders_filtred
orders_filtred2 = orders_filtred.copy()

# Unindo com orders_filtred para ter as informações dos pedidos
merged_data = pd.merge(orders_filtred2, merged_items, on='order_id', how='inner')

# Filtrando os pedidos atrasados
delayed_orders = merged_data[merged_data['order_delivered_customer_date'] > merged_data['order_estimated_delivery_date']]

#Contando apenas pedidos unicos com o mesmo order_id
display(delayed_orders['order_id'].nunique())

7827

In [77]:
# 1. Total de pedidos atrasados por categoria
delayed_counts = delayed_orders.groupby('product_category_name')['order_id'].nunique().reset_index()
delayed_counts.columns = ['product_category_name', 'delayed_orders']

# 2. Total de pedidos por categoria (com base em pedidos aprovados)
total_counts = merged_data.groupby('product_category_name')['order_id'].nunique().reset_index()
total_counts.columns = ['product_category_name', 'total_orders']

# 3. Juntando os dois DataFrames
delay_stats = pd.merge(delayed_counts, total_counts, on='product_category_name', how='left')

# 4. Calculando a porcentagem de pedidos atrasados por categoria
delay_stats['delay_percentage'] = (delay_stats['delayed_orders'] / delay_stats['total_orders']) * 100

# 5. Ordenando por maior percentual de atraso
delay_stats = delay_stats.sort_values(by='delay_percentage', ascending=False)

# Exibindo o resultado
print(delay_stats.to_string(index=False, formatters={'delay_percentage': '{:.2f}%'.format}))

delay_stats.to_csv('delayed_orders_by_category.csv', sep=',')

                         product_category_name  delayed_orders  total_orders delay_percentage
                               casa_conforto_2               4            24           16.67%
                     moveis_colchao_e_estofado               5            38           13.16%
                                         audio              45           350           12.86%
                fashion_underwear_e_moda_praia              15           121           12.40%
                               livros_tecnicos              28           260           10.77%
                                 casa_conforto              41           397           10.33%
                                     alimentos              44           450            9.78%
                                   eletronicos             247          2550            9.69%
                              artigos_de_natal              12           128            9.38%
                             moveis_escritorio             115          1273            9.03%
             construcao_ferramentas_iluminacao              22           244            9.02%
             construcao_ferramentas_construcao              67           748            8.96%
                                         bebes             258          2885            8.94%
                                  beleza_saude             776          8836            8.78%
                            artes_e_artesanato               2            23            8.70%
                               cama_mesa_banho             811          9416            8.61%
                         instrumentos_musicais              54           628            8.60%
                                    automotivo             328          3897            8.42%
                            relogios_presentes             468          5624            8.32%
                                     telefonia             349          4198            8.31%
                              moveis_decoracao             535          6446            8.30%
                                   moveis_sala              35           422            8.29%
                 industria_comercio_e_negocios              19           235            8.09%
                               casa_construcao              39           490            7.96%
                                        musica               3            38            7.89%
                                consoles_games              83          1062            7.82%
                            ferramentas_jardim             274          3517            7.79%
                                     cine_foto               5            65            7.69%
                                     papelaria             176          2311            7.62%
                                 esporte_lazer             584          7718            7.57%
                        informatica_acessorios             503          6689            7.52%
                                         artes              15           202            7.43%
                               fashion_esporte               2            27            7.41%
                                 moveis_quarto               7            95            7.37%
                                    brinquedos             286          3886            7.36%
                                    perfumaria             228          3162            7.21%
                                           pcs              13           181            7.18%
 portateis_cozinha_e_preparadores_de_alimentos               1            14            7.14%
                            eletrodomesticos_2              16           234            6.84%
                         utilidades_domesticas             399          5884            6.78%
                                  dvds_blu_ray               4            59            6.78%
                 construcao_ferramentas_jardim              13           194            6.70%
                                    cool_stuff             243          3629            6.70%
                   portateis_casa_forno_e_cafe               5            75            6.67%
                        livros_interesse_geral              34           512            6.64%
                              eletrodomesticos              50           764            6.54%
                   fashion_bolsas_e_acessorios             121          1864            6.49%
                                       bebidas              19           297            6.40%
                      tablets_impressao_imagem               5            79            6.33%
                              fashion_calcados              15           240            6.25%
                                      pet_shop             106          1710            6.20%
            construcao_ferramentas_ferramentas               6            97            6.19%
                             alimentos_bebidas              14           227            6.17%
                               eletroportateis              38           629            6.04%
                       sinalizacao_e_seguranca               8           140            5.71%
                              malas_acessorios              56          1034            5.42%
                        fashion_roupa_feminina               2            39            5.13%
                                telefonia_fixa              11           217            5.07%
                     agro_industria_e_comercio               9           182            4.95%
                                  market_place              13           280            4.64%
                       fashion_roupa_masculina               5           112            4.46%
moveis_cozinha_area_de_servico_jantar_e_jardim              11           248            4.44%
              construcao_ferramentas_seguranca               7           166            4.22%
                                  climatizacao              10           253            3.95%
                             livros_importados               2            53            3.77%
                               fraldas_higiene               1            27            3.70%
                                        flores               1            29            3.45%
                             artigos_de_festas               1            39            2.56%